<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title }}</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#05080f" />
		<meta name="darkreader-lock" />

		{% block head %}{% endblock %}

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700&display=swap"
		/>
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script type="module" src="/assets/js/main.ts"></script>
	</head>
	<body>
		<header class="site-header">
			<a href="/">Home</a>
			{% if collections.articles | length %}
				<a href="/articles">Articles</a>
			{% endif %}
		</header>

		{% block content %}{% endblock %}
	</body>
</html>
